.about {
  padding: 25px;
  text-align: center;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e4edf4;
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  p {
    line-height: 1.4;
    margin-bottom: 45px;
  }
  a {
    background-color: #2060a0;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
}
