footer {
  background-color: #2d415c;
  color: #fff;
  padding: 25px;
  p {
    line-height: 1.4;
    margin-bottom: 45px;
  }
  a {
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
  }
}
