.work {
  padding: 25px;
  text-align: center;
  p {
    line-height: 1.4;
    margin-bottom: 45px;
  }
  a {
    background-color: #2060a0;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
}
