---
layout: base.njk
title: John Dang | Front end Developer based in San Diego, California.
---

<section id="about" class="about">
    <div class="container">
        <h2>{{data.about.header}}</h2>
        <p>{{data.about.description}}</p>
        <a href="#contact">{{data.about.cta}}</a>
    </div>
</section>