<div>
    <a href="/" class="logo">
    {# {% image "./images/logo-jd.png", "logo" %} #}
    <img src="/images/bg-hero.jpg" alt="">
    </a>
</div>
<nav>
    <ul>
        <li><a href="#About">About</a></li>
        <li><a href="#Work">Work</a></li>
        <li><a href="#Contact">Contact</a></li>
    </ul>
</nav>