<div id="work" class="work">
    <h1>{{data.work.h1}}</h1>
    <div class="gallery">
        <img src="https://place-puppy.com/300x300" alt="" />
        <img src="https://place-puppy.com/300x300" alt="" />
        <img src="https://place-puppy.com/300x300" alt="" /><br>
        <img src="https://place-puppy.com/300x300" alt="" />
        <img src="https://place-puppy.com/300x300" alt="" />
        <img src="https://place-puppy.com/300x300" alt="" /><br>
    </div>
</div>